:root{
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --primary-color: #ee4d2d;
    --border-color: #dbdbdb;
}

*{
    box-sizing: inherit;

}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row{
    display: flex;
    flex-wrap: wrap;
}

/* Modal */
.modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
}

.modal__overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 2;
}

.modal__body{
    width: 500px;
    background-color: var(--white-color);
    margin:  auto;
    z-index: 3;
    border-radius: 5px;
}
/* BUTTON */
.btn{
    line-height: 36px;
    font-weight: 400;
    font-size: 1.45rem;
    background-color: var(--white-color);
    min-width: 142px;
    min-height: 36px;
    text-decoration: none;
    border-radius: 2px;
    outline: none;
    color: var(--black-color);
}

.btn.btn--normal:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.03);
}
.btn.btn--primary{
    background-color: var(--primary-color);
    color: var(--white-color);
}

.btn--disable{
    cursor: default;
    background-color: #999;
    color: #333;
}